body{
  color: red;
  text-align: center;
  font-family: "Arial ";
  font-size: 16px;
  margin: 0;
  padding: 0
}
#container{
  width: 70%;
  text-align:left;
  border: 1px solid #DDD;
  margin: 0 auto;
}

#container h1{
  font-size:20px;

}
#post{
  margin: 50px;
}

#cabecera{
  background-color: #1111ff;
  color: white;
  display: flex;
  padding: 10px;
  box-shadow: 1px 5px 20px #aaa;
}
#cabecera p{
  padding-left: 10px;
}